___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: Store numerical informations. There are Two types of numbers in Python -
         Integer (Int)- Whole numbers/ characters(chr) without decimal(Eg., 20, 999887, -2563214) and 
         Floating point numbers - Numbers/chr with decimal points (Eg.s 20.326 , -65.987 , -0.2356, 987654.1234056)


Strings:They consists of Ordered sequence of words, sentences and chr - int & float too. But it has to be inside () &/or "" , ''
        Eg., - ("I'm a String"), 'Wonderful' , '23456' , "-245.987654"
        

Lists: They can be either str or int but lists will always use []. They are mutable. They can be sorted.
       Eg., [1, 555, 98 ] , ["Govinda" , 'Akshay' , 'Sharukh'] , [98.32 , "Kangana" , 99.96 , "Ashiswarya"]
       

Tuples: They must always use () and can have both int and str. They are not sorted.They are Immutable.
        Eg., (1, 2, 99) , (98.78 , -2.43, 55) , ('Ruskin' ,'Pushkin' , 'Miskin')
        

Dictionaries: dict are used for finding 'values' of a 'key' / 'input'. They are not sorted. They are immutable. A dict can
              have anything. int , str , lists, another dict, tuples. They use {}
              Eg., d = {('orange':3.55), 'pineapple':.78 , 'apple':2.990, "age_grp":[18, 21, 24, 30] , {"a":'tube', 'b':
              'pipe' , 'c':'basin'}}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [130]:
sum_check = (2**4) * (4 / 2) + 100.25 - 32

In [131]:
sum_check

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) == 44
    
        What is the value of the expression 4 * 6 + 5 == 29
    
    What is the value of the expression 4 + 6 * 5 == 34

In [8]:
4 * (6+5)

44

In [9]:
4 * 6 + 5

29

In [10]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [12]:
type (3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [18]:
# Square root:
from math import sqrt
sqrt(4)

2.0

In [19]:
# Square root:
4 ** .5

2.0

In [132]:
# Square:
4 ** 2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [22]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [23]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [27]:
s ='hello'
# Print out the 'o'

# Method 1:
print (s[4])

o

In [28]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [135]:
# Method 1:
l = [0] *3

In [136]:
l

[0, 0, 0]

In [32]:
# Method 2:
list_new = [0, [0], '0']

In [134]:
list_new

[0, [0], '0']

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [95]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

In [96]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [56]:
list4 = [5,3,4,6,1]

list4.sort()

In [57]:
list4

[1, 3, 4, 5, 6]

In [137]:
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [102]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [107]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [138]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [139]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}


d['k1'][2]["k2"][1]["tough"][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Dictionary cannot be sorted. It is primarily used for getting value of the key / input from the whole .Normal dictionaries are Mappings and Not a Sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>

Lists are mutable and tuples are immutable. lists can be sorted and tuples cannot be sorted. For lists we use [] and for Tuples we use()

How do you create a tuple?<br><br>

t = (1, 2, 3 )

## Sets

What is unique about a set?<br><br>

set will give unique numbers among a bunch of numbers. it won't repeat numbers

Use a set to find the unique values of the list below:

In [80]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [88]:
# Answer before running cell
2 > 3

False

In [89]:
# Answer before running cell
3 <= 2

False

In [90]:
# Answer before running cell
3 == 2.0

False

In [91]:
# Answer before running cell
3.0 == 3

True

In [92]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [142]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!