Split

In [1]:
x = 'The world is good'

In [2]:
x.split()

['The', 'world', 'is', 'good']

In [3]:
x = 'The, world, is, good'

In [4]:
x.split(',')

['The', ' world', ' is', ' good']

In [5]:
x = 'The: world: is: good'

In [6]:
x.split(':')

['The', ' world', ' is', ' good']

In [17]:
x = 'Theworldisgood'

In [48]:
for i in range(0, len(x), 3):
   print(x[i:i+3])

The
wor
ldi
sgo
od

In [53]:
print ([x[i:i+3] for i in range(0, len(x), 3)])

['The', 'wor', 'ldi', 'sgo', 'od']

Maxsplit

In [59]:
z = 'The, WOrld, is, good'

In [61]:
z.split(',',2)

['The', ' WOrld', ' is, good']

In [62]:
z.split(',',1)

['The', ' WOrld, is, good']

In [26]:
def func(sentence):
    for char in range(0, len(sentence), 3):     # Range starting from index 0 to the length of word, with gap after index 3
       print(sentence[char:char+3])

In [27]:
func('abracadabra')

abr
aca
dab
ra

In [33]:
def func(sentence):
    print ([sentence[char:char+3] for char in range(0, len(sentence), 3)])

In [34]:
func('abracadabra')

['abr', 'aca', 'dab', 'ra']

Slice

In [70]:
x = 'theworldisbeautiful'

In [81]:
y = x[slice(3,8)].capitalize()     # Slice a chunk of characters out of a word and then Capitalize the First Character
z = x[slice(0,3)].capitalize()
a = x[slice(8,10)].capitalize()

In [99]:
b = [z + y+a]

In [101]:
print (b)

['TheWorldIs']

In [38]:
x = 'theworldisbeautiful'

a = x[:3].capitalize()
b = x[3:8].capitalize()
c = x[8:10].capitalize()
d = x[10:].capitalize()

print (a +' ' + b +' ' + c +' ' + d)

The World Is Beautiful

In [102]:
# write a function that capitalizes the first and fourth words

In [40]:
# Using slicing and capitalize method

def old_macdonald(name):
    a = name[:3].capitalize()
    b = name[3:].capitalize()
    
    return a + ' ' + b

old_macdonald('macdonald')

'Mac Donald'

In [41]:
# Using slicing and .upper method

def old_macdonald(name):
    first = name[0].upper()
    sec = name[1:3]
    third = name[3].upper()
    forth = name[4:]
    
    return first + sec + third + forth
    
old_macdonald('macdonald')

'MacDonald'

Reverse words in a sentence

In [90]:
# sample : 'I Love You' will become 'You Love I'
# Using split, .join and slicing method

def reverse_words(text):
    a = text.split(' ')
    b = ' '.join(a[::-1])
    return b

In [95]:
reverse_words('I Love You')

'You Love I'

In [102]:
# ONE LINER CODES

def reverse_words(text):
    return ' '.join(text.split(' ')[::-1])

In [103]:
reverse_words('I Love You')

'You Love I'

Reverse characters in a word or sentence

In [96]:
# Using slicing method

def reverse_chars(text):
    a = text[::-1]
    return a

In [97]:
reverse_chars('I Love You')

'uoY evoL I'

In [104]:
# ONE LINER CODES

def reverse_chars(text):
    return text[::-1]

In [105]:
reverse_chars('I Love You')

'uoY evoL I'

Arrey

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [108]:
# In an arrey , if 2 nos are same Returns True Else False

def has_33(nums):
    
    for int in range(0, len(nums)-1):
        if nums[int] == 3 and nums[int+1] == 3:
            return True
    else:
        return False

In [109]:
has_33([1, 3, 3])

True

In [110]:
has_33([1, 3, 1, 3])

False

In [135]:
has_33([3, 1, 3,4,3,3])

True

In [128]:
def has_33(nums):
    
    for i in range(0, len(nums) -1):
        if (nums[i], nums[i+1]) == (3,3):
            return True
    else:
        return False

In [129]:
has_33([1, 3, 1, 3])

False

In [133]:
has_33([3, 1, 3, 4, 3])

False

In [134]:
has_33([1, 3, 3])

True

In [28]:
## WRONG WHEN PUT IN REPETITIVE MODE FOR 6,9

# As per Jose's solution

def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [29]:
# This is ok

summer_sum([2, 1, 6,5,2,1, 9, 11])

14

In [30]:
# Here the answer will be 2+1+11+2 = 16 but it's coming 31

summer_sum([2, 1, 6,5,2,1, 9, 11, 6 , 9, 2 ])

31

In [25]:
## WRONG WHEN PUT IN REPETITIVE MODE FOR 6,9

# Debasis's Solution

def summer_69(arr):
    if 6 in arr:
        return sum(arr) - sum(arr[arr.index(6):arr.index(9)+1]) 
    else:
        return sum(arr)

In [26]:
# This is ok

summer_sum([2, 1, 6,5,2,1, 9, 11])

14

In [27]:
# Here the answer will be 2+1+11+2 = 16 but it's coming 31

summer_sum([2, 1, 6,5,2,1, 9, 11, 6 , 9, 2 ])

31

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 
 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [147]:
def spy_game(nums):
    
    
    code = [0,0,7,'x']
    # Using pop function will take away the index [0] of code
    # So next will be [0,7,'x']
    # and next will be [7,'x']
    # lastly it will be ['x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [148]:
spy_game([1,2,4,0,0,7,5])

True

In [149]:
spy_game([1,0,2,4,0,5,7])

True

In [150]:
spy_game([1,7,2,0,4,5,0])

False