Built - in operators

In [20]:
# range Operator - it gives a range of numbers (Using 'for loop' method)

for diff_nums in range(5):
    print(diff_nums)
# it gives int upto 5 but not 5. Also it automatically starts from 0

0
1
2
3
4

In [14]:
# It can also have a starting point and ending point 

for nums in range(5, 10):
    print(nums)

5
6
7
8
9

In [13]:
# It can also have a skipping number 

for characters in range(5, 30, 5):
    print(characters)

5
10
15
20
25

In [19]:
# to get a list from range 
# You can do the same functions as above within list

list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

Index Count - To know how many letters are there in a str

In [1]:
# through 'for loop' method

index = 1 
for all_letters in 'asdf ghjk':
    print(f"{index} {all_letters}")
    
    index +=1

1 a
2 s
3 d
4 f
5
6 g
7 h
8 j
9 k

In [20]:
# How to ENUMERATE with built in function

# ENUMERATE - To mention a number of things One by One

sentence = " Hi There."

for numbers in enumerate(sentence):
    print (numbers)
    
# The output is in the form of Tuples

(0, ' ')
(1, 'H')
(2, 'i')
(3, ' ')
(4, 'T')
(5, 'h')
(6, 'e')
(7, 'r')
(8, 'e')
(9, '.')

In [51]:
# We can now do Tuple Unpacking

sentence = "Hi There"

for index, output in enumerate(sentence):
    print (index)
    print (output)
    print('\n')

0
H


1
i


2



3
T


4
h


5
e


6
r


7
e

In [3]:
# Using 'zip' built in function - It zips many sets. It stops at the smallest list.

a = [ 1,2,3,4, 8, 9, 33, 'jhuj']
z = ["ram", "sam", 'jadhu', 'madhu']
l = ['love', 50, 'dove']

for all_together in zip(a,z,l):
    print (all_together)

(1, 'ram', 'love')
(2, 'sam', 50)
(3, 'jadhu', 'dove')

In [9]:
# To have a list of all items together

all_together = list(zip(a,z,l))

In [10]:
all_together

[(1, 'ram', 'love'), (2, 'sam', 50), (3, 'jadhu', 'dove'), (4, 'madhu', 43)]

In [23]:
for index, output in enumerate(all_together):
  
    print(output)

(1, 'ram', 'love')
(2, 'sam', 50)
(3, 'jadhu', 'dove')
(4, 'madhu', 43)

In [32]:
for x,y,c in zip(a,z,l):
    print(x)
    print(y)
    print(c)
    print('\n')

1
ram
love


2
sam
50


3
jadhu
dove


4
madhu
43

In Operators

In [5]:
# To check if there is something in a list

a = [1,23,45,67,89,9,87,65,43,21,56]
z = ["Rama", "Shama", "Radha", "Priya"]
c = " I Love You"
d = {'Orange': 4.55 , 'Apple': 3.99, "Beat":0.59, 'Parsley':0.32}

'I' in c

True

In [46]:
23 in a

True

In [53]:
# Because z is a list searching a single word will make it false

"Rama" in z

True

In [54]:
"S" in z

False

In [60]:
# As c is a str it can search one word
"L" in c

True

In [69]:
# Search either keys or values in dict or the whole dict

'Orange' in d.keys()

True

In [80]:
# In dict they keys are searched by default. so, 3.99 is coming False where as 'Apple' is returning True

3.99 in d

False

In [81]:
'Apple' in d

True

In [77]:
4.55 in d.values()

True

In [87]:
# As dict search 'keys' by default , 'robots' will return True , where as 500 will return False

'robots' in {'machine':500, 'robots':1000}

True

In [8]:
500 in {'machine':500 , 'robots':1000}

TypeError: descriptor 'values' for 'dict' objects doesn't apply to a 'int' object

Min, Max and Random Library

In [89]:
# Min numbers, max Numbers and random numbers

z = [ 2, 45, 98, -43, -55, -.98765]

In [90]:
min(z)

-55

In [91]:
max(z)

98

In [100]:
# random library - everytime you shuffle you get different numbers

from random import shuffle

In [105]:
shuffle(z)

In [106]:
z

[-55, -0.98765, 45, 98, -43, 2]

In [107]:
shuffle(z)

In [108]:
z

[98, 45, -0.98765, -55, 2, -43]

In [117]:
# randint selects a random number from a lower range and upper range

from random import randint

randint(-1000, 1000)

164

Input Function

In [2]:
name = input ("What's Your Name: ")

What's Your Name: Debasis Sil

In [3]:
name

'Debasis Sil'

In [134]:
age = input ('Can I know your age please ? ')

Can I know your age please ? 43

In [135]:
age

'43'

In [139]:
# input always gives output in str. It can converted though

type(name)

str

In [140]:
type(age)

str

In [141]:
float(age)

43.0

In [150]:
int(age)

43

In [151]:
# to change to int or float

age = int(input ('Can I know your age please ? '))

Can I know your age please ? 43

In [152]:
age

43

In [153]:
type(age)

int