### Advanced Lists

In [1]:
l = [1,2,3,4,5]

In [2]:
# Append - Append puts the whole thing as it is and adds it to the existing list

l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [3]:
l.append([6,7])
l

[1, 2, 3, 4, 5, 6, [6, 7]]

In [4]:
# Now let us check Extend Method. Extend DOESNOT put the whole list as it is BUT adds it to the List

l

[1, 2, 3, 4, 5, 6, [6, 7]]

In [5]:
l.extend([7,6])
l

[1, 2, 3, 4, 5, 6, [6, 7], 7, 6]

In [6]:
# Count Method shows how many times something has occured in the list

# 6 is counted only twice because the other 6 is in list of lists

l.count(6)

2

In [7]:
# When we put a value that is not in the list, it gives 0

l.count(10)

0

In [8]:
# Clear - It clears the Whole List

l.clear()
l

[]

In [9]:
# Insert - It inserts whatever you want to insert at whatever place you want 

l = [1,2,3,4,5,6,]
l

[1, 2, 3, 4, 5, 6]

In [10]:
l.insert(3, 'Hallo')
l

[1, 2, 3, 'Hallo', 4, 5, 6]

In [11]:
l.insert(-1, 'World')
l

[1, 2, 3, 'Hallo', 4, 5, 'World', 6]

In [12]:
li = [1,2,3,4,8,10,4,4]

In [13]:
# Remove - Only the first occurance of the value is removed

li.remove(4)
li

[1, 2, 3, 8, 10, 4, 4]

In [14]:
l.reverse()
l

[6, 'World', 5, 4, 'Hallo', 3, 2, 1]

In [15]:
l

[6, 'World', 5, 4, 'Hallo', 3, 2, 1]

In [16]:
l.index(5)

2

In [17]:
l.index('World')

1

In [20]:
l.pop()

1

In [21]:
l

[6, 'World', 5, 4, 'Hallo', 3, 2]

In [22]:
l.pop(3)

4

In [23]:
l

[6, 'World', 5, 'Hallo', 3, 2]

In [24]:
list = l.copy()
list

[6, 'World', 5, 'Hallo', 3, 2]

In [29]:
lll = [1,2,3,4,6,8,4,98,78,4,5]

In [32]:
# Count - How many times it is occuring in the list

lll.count(8)

1

In [33]:
lll.count(4)

3

In [34]:
lll.reverse()

In [35]:
lll

[5, 4, 78, 98, 4, 8, 6, 4, 3, 2, 1]

In [36]:
lll.sort()

In [37]:
lll

[1, 2, 3, 4, 4, 4, 5, 6, 8, 78, 98]