## Collections Module

In [296]:
from collections import Counter       # Note - Counter has Capital 'C'

mylist = [11111,777,8]
Counter(mylist)                       # Counter shows how many repetations are there for an object

Counter({11111: 1, 777: 1, 8: 1})

In [206]:
mylists = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,8,8,8,8,8,8,8,8,8,8,8,8,8,8]

Counter(mylists)

Counter({1: 21, 7: 20, 8: 14})

In [207]:
my_lists =['A','A','A','A','A','A','A','A','A','A','A','A','A','A','A','A','A',5,5,5,5,5,5,5,5,5,5,5,5,5,5]
Counter(my_lists)

Counter({'A': 17, 5: 14})

In [208]:
# Counter can directly take info , provided it is a str
Counter('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA55555555555555555555555')

Counter({'A': 31, '5': 23})

In [209]:
Counter('55555555555555555555555')

Counter({'5': 23})

In [210]:
Counter('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA')

Counter({'A': 31})

In [297]:
# A Sentence can also be disected through Counter

s = ('I Am Love')
Counter(s)

Counter({'I': 1, ' ': 2, 'A': 1, 'm': 1, 'L': 1, 'o': 1, 'v': 1, 'e': 1})

In [300]:
s = ('I Am Love')

s.split()         # If it is not split(), then Counter will break individual alphabets. We need Words and it's repetations

['I', 'Am', 'Love']

In [301]:
Counter(s.split())     # Here 'Life' and 'life' are counted differently because of 'L' & 'l'

Counter({'I': 1, 'Am': 1, 'Love': 1})

In [303]:
Counter(s.lower().split())    # Here 'Life' is counted as 2, because everything has been changed to Upper

Counter({'i': 1, 'am': 1, 'love': 1})

In [304]:
# Assigning Counter object to do many more things
hijibiji = 'AAAAAAAAAAAAAnnnnnnnnnnn9999999999555555555555'

In [305]:
c = Counter(hijibiji)

In [306]:
c

Counter({'A': 13, 'n': 11, '9': 10, '5': 12})

### Common patterns when using the Counter() object

    sum(c.values())                 # total of all counts
    c.clear()                       # reset all counts
    list(c)                         # list unique elements
    set(c)                          # convert to a set
    dict(c)                         # convert to a regular dictionary
    c.items()                       # convert to a list of (elem, cnt) pairs
    Counter(dict(list_of_pairs))    # convert from a list of (elem, cnt) pairs
    c.most_common()[:-n-1:-1]       # n least common elements
    c += Counter()                  # remove zero and negative counts

In [307]:
c.most_common()         # Gives out the most used letter or word

[('A', 13), ('5', 12), ('n', 11), ('9', 10)]

In [308]:
c.items()

dict_items([('A', 13), ('n', 11), ('9', 10), ('5', 12)])

In [309]:
sum(c.values())        # Gives out the sum total of all letters or words

46

In [310]:
list(c)

['A', 'n', '9', '5']

In [311]:
set(c)

{'5', '9', 'A', 'n'}

In [312]:
 dict(c)

{'A': 13, 'n': 11, '9': 10, '5': 12}

#### MAP

In [6]:
num = [2,3,4,5]

def cube_rt(n):
    return(n*3)

In [8]:
map(cube_rt, num)

In [9]:
list(map(cube_rt, num))

[6, 9, 12, 15]

In [12]:
for nums in map(cube_rt, num):
    print (nums)

6
9
12
15

#### MAP

In [126]:
num = [2,3,4,5]

def cube_rt_even_nums(n):
    if n%2 == 0:
        return (n**3)
    else:
        return ('Not Even')

In [127]:
map(cube_rt_even_nums, num)

In [128]:
list(map(cube_rt_even_nums, num))

[8, 'Not Even', 64, 'Not Even']

In [129]:
for x in map(cube_rt_even_nums, num):
    print(x)

8
Not Even
64
Not Even

In [229]:
# One Liner Code

num = [2,3,4,5]

def cube_rt_even_nums(a):
    return [n**3 for n in a if n%2 == 0]

In [230]:
cube_rt_even_nums(num)

[8, 64]

#### FILTER

In [140]:
num = [2,3,4,5,8,9,20,22]

def even_nums(n):
    return n%2 == 0

In [141]:
filter(even_nums, num)

In [142]:
list(filter(even_nums, num))

[2, 4, 8, 20, 22]

#### LAMBDA

##### Lambda can take Multiple inputs but will have Only One Output

In [176]:
# Normal Function

def cube_rt_even_nums(n):
    if n%2 == 0:
        return (n**3)
    else:
        return ('Not Even')

In [177]:
cube_rt_even_nums(8)

512

In [178]:
# Function with less Code

def cube_rt_even_nums(n):
    if n%2 == 0:return (n**3)
    else:
        return ('Not Even')

In [179]:
cube_rt_even_nums(8)

512

In [192]:
# Function with Even lesser Code

def cube_rt_even_nums(n): return (n**3)

In [193]:
cube_rt_even_nums(8)

512

In [182]:
# LAMBDA

cube_rt_even_nums = lambda n:n**3

In [183]:
cube_rt_even_nums(8)

512

In [201]:
# Multiple Inputs but One Output

a = lambda x,y,z:(x**3) * (y/2) * (z**2)

In [202]:
a(2,3,4)

192.0

#### Normal Dictionary

In [279]:
d = {'Apple': 20}    # {'Key': Value}

In [280]:
d

{'Apple': 20}

In [282]:
d['Apple']           # Calling 'Key' will give Values

20

In [283]:
d['Mango']           # A Normal Dict will raise error if the Key is not in the Dict

KeyError: 'Mango'

#### Default Dictionary

In [290]:
from collections import defaultdict

d = defaultdict(lambda: 100)      # A Default dict will not raise any error, even if the key is not present

d['Orange'] = 30

In [291]:
d['Mango']             # Even if Mango is not present it will not raise error. Rather it will use default dict value

100

In [292]:
d

defaultdict(<function __main__.<lambda>()>, {'Orange': 30, 'Mango': 100})

In [293]:
d['Guava']

100

In [294]:
d

defaultdict(<function __main__.<lambda>()>,
            {'Orange': 30, 'Mango': 100, 'Guava': 100})

#### Normal Tuple

In [313]:
a = (100,200,300)

In [315]:
a[0]          # When we call a Tuple by it's position, we get that Tuple

100

In [316]:
a[2]

300

#### Named Tuple

##### This type of Tuples can be called BOTH by Name or Position

In [342]:
from collections import namedtuple

Crocodile = namedtuple('Crocodile',['name', 'species', 'numbers'])

# The Variable name and the the name inside the 'namedtuple' will be the same

In [343]:
Chennai_Croc_Firm = Crocodile(name= 'Predators' , species=50, numbers=300)

In [344]:
type(Chennai_Croc_Firm)

__main__.Crocodile

In [345]:
Chennai_Croc_Firm

Crocodile(name='Predators', species=50, numbers=300)

In [346]:
Chennai_Croc_Firm.name      # Yields the same result when called by name or position

'Predators'

In [347]:
Chennai_Croc_Firm[0]        # Yields the same result when called by name or position

'Predators'

In [348]:
Chennai_Croc_Firm.species

50

In [349]:
Chennai_Croc_Firm[1]

50