If Elif Else Statements

In [1]:
time = 'Morning'


if time == 'Evening':
    print ("Let's have some tea.")
elif time == 'Morning':
    print ('Coffee will be refreshing')
else:
    print ('Fuck off')

Coffee will be refreshing

In [2]:
score = 11

if score <= 5:
    print ("Won by a small margin")
elif score <= 10:
    print ('Well played')
else:
    print ('Fantabulous!')

Fantabulous!

For Loop

In [3]:
age_cat = [13, 14, 15, 16]

for variety_age in age_cat:
    print(variety_age)

13
14
15
16

In [4]:
for variety_age in age_cat:
    print('icecream') # notice the ''

icecream
icecream
icecream
icecream

In [5]:
# Addition

for additions in age_cat:
    print (additions + 10)

23
24
25
26

In [6]:
# Multuiplications

for mul in age_cat:
    print (mul * 10)

130
140
150
160

In [7]:
# Div 

age_cat = [13, 14, 15, 16]

for divi in age_cat:
    print (divi / 2)

6.5
7.0
7.5
8.0

In [8]:
# Substraction

for subs in age_cat:
    print (subs - 10)

3
4
5
6

In [10]:
# Summing a list. Adding whatever is in the list
age_cats = [10,11,12,13]

print (sum(age_cats))

46

In [30]:
age_cats = [10,11,12,13]
x = 0
for nums in age_cats:
    x += nums
print (x)

46

In [9]:
# Modulo

for mod in age_cat:
    print (mod % 5)

3
4
0
1

In [10]:
names = ['raja' , 'rani', 'prema' , 'sweety']

for members in names:
    print (members)

raja
rani
prema
sweety

In [11]:
for members_of_hn in names:
    print (members_of_hn * 5)

rajarajarajarajaraja
raniraniraniranirani
premapremapremapremaprema
sweetysweetysweetysweetysweety

In [12]:
strings = 'dotara'

for music in strings:
    print (music)

d
o
t
a
r
a

In [13]:
# we can use the strings directly

for music in 'dotara':
    print (music)

d
o
t
a
r
a

In [14]:
# we can use lists and strs directly

for prices in [1,2,3,'dotara']:
    print (prices)

1
2
3
dotara

In [15]:
# we can use tuples directly

for age_grps in (18, 19, 20):
    print (age_grps)

18
19
20

In [16]:
# List and Tuples together

z = [(9,8), ('kavita', 'savita'),(9899, 2332)]

len(z) # length of lists are 3 as tuples are clubbed together

3

In [17]:
for all_view in z:
    print (all_view)

(9, 8)
('kavita', 'savita')
(9899, 2332)

In [18]:
for (a,b) in z:
    print (a)
    print (b)

9
8
kavita
savita
9899
2332

In [19]:
for (a,b) in z:
    print (b)

8
savita
2332

In [20]:
for a,b in z:
    print (a)

9
kavita
9899

In [21]:
kind_school = [('Principal','Vice','TinC','HOD'), (100000, 80000, 70000, 65000), ('30 yrs','22 yrs','20 yrs','17 yrs')]

len(kind_school)

3

In [22]:
for report in kind_school:
    print(report)

('Principal', 'Vice', 'TinC', 'HOD')
(100000, 80000, 70000, 65000)
('30 yrs', '22 yrs', '20 yrs', '17 yrs')

In [23]:
for Princi,VP, TIC, Head in kind_school:
    print(Princi)
    print(VP)
    print(TIC)
    print(Head)

Principal
Vice
TinC
HOD
100000
80000
70000
65000
30 yrs
22 yrs
20 yrs
17 yrs

In [24]:
# Dictionaries

more = {'Cheese': 450, "Paste":145, 'Juice':120, "Parsley":59, 'Fish':120, 'Sausage':550, "shirts":780, 'Slippers':300,"Dal":250}

len(more)

9

In [25]:
# By default only 'KEYS' will be printed. We can also use .keys() after variable . Eg.,more.keys():

for item_names in more:
    print(item_names)

Cheese
Paste
Juice
Parsley
Fish
Sausage
shirts
Slippers
Dal

In [26]:
# If we want both KEYS and Values then put .items():

for item_details in more.items():
    print (item_details)

('Cheese', 450)
('Paste', 145)
('Juice', 120)
('Parsley', 59)
('Fish', 120)
('Sausage', 550)
('shirts', 780)
('Slippers', 300)
('Dal', 250)

In [27]:
# For only values, put .values():

for item_details in more.values():
    print (item_details)

450
145
120
59
120
550
780
300
250

In [28]:
print (more)

{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}

In [29]:
for _ in more:
    print (more)

{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}
{'Cheese': 450, 'Paste': 145, 'Juice': 120, 'Parsley': 59, 'Fish': 120, 'Sausage': 550, 'shirts': 780, 'Slippers': 300, 'Dal': 250}

In [30]:
# For specific Values of a key

more['Juice']

120

In [31]:
more['Dal']

250

In [32]:
z = 2

while z < 10:
    print (f'The results are {z}')
    
    z *= 2
    
else:
    print(f'The End!')

The results are 2
The results are 4
The results are 8
The End!

In [33]:
n = ['Ina', "Mina", 'Tina']
y = 1
s = 10000

while y <= 3 or s <= 3:
    print(f"For {n[0]} salary will be {s} in Year {y}")
    
    print(f"For {n[1]} salary will be {s} in Year {y}")
    
    print(f"For {n[2]} salary will be {s} in Year {y}")
    
    y +=1
    s +=1000
    
else:
    print(f'This is the complete list')

For Ina salary will be 10000 in Year 1
For Mina salary will be 10000 in Year 1
For Tina salary will be 10000 in Year 1
For Ina salary will be 11000 in Year 2
For Mina salary will be 11000 in Year 2
For Tina salary will be 11000 in Year 2
For Ina salary will be 12000 in Year 3
For Mina salary will be 12000 in Year 3
For Tina salary will be 12000 in Year 3
This is the complete list

In [40]:
# When I want to give different salaries to different people with different increments in different years

n = ['Ina', "Mina", 'Tina']
y = 1
a = [10000, 12000, 15000]

while y <= 3 or sal(a) <= 25000:
    print(f"For {n[0]} salary will be {sal[0]} in Year {y}")   
    print(f"For {n[1]} salary will be {sal[1]} in Year {y}")
    print(f"For {n[2]} salary will be {sal[2]} in Year {y}")  
    
    y +=1
    a[0] +=1000
    a[1] +=1500
    a[2] +=2000    
else:
    print(f'This is the complete list')

For Ina salary will be 16000 in Year 1
For Mina salary will be 21000 in Year 1
For Tina salary will be 27000 in Year 1
For Ina salary will be 16000 in Year 2
For Mina salary will be 21000 in Year 2
For Tina salary will be 27000 in Year 2
For Ina salary will be 16000 in Year 3
For Mina salary will be 21000 in Year 3
For Tina salary will be 27000 in Year 3

TypeError: 'list' object is not callable

In [34]:
digit_sum = [199,2228,32165,49874]

print (sum(digit_sum))

84466