## Advanced Sets

#### Sets always give Unique values. NOTHING IS REPEATED

In [2]:
s = set()
s

set()

In [5]:
s.add(1)
s

{1}

In [6]:
s.add(2)
s

{1, 2}

In [7]:
s.add(3)
s

{1, 2, 3}

In [9]:
s.clear()
s

set()

In [11]:
s = {1,2,3,4}
s

{1, 2, 3, 4}

In [12]:
s1 = {3,4,5,6,7}
s1

{3, 4, 5, 6, 7}

In [23]:
# As sets will only have unique values, so nothing changes when '4' is added, as it is alreadythere

s.add(4)
s

{1, 2, 3, 4}

In [24]:
s.add(10)
s

{1, 2, 3, 4, 10}

In [25]:
s.remove(3)
s

{1, 2, 4, 10}

In [26]:
ss = s.copy()
ss

{1, 2, 4, 10}

In [67]:
s

{1, 10}

In [68]:
ss

{1, 2, 4, 10}

In [70]:
s.remove(10)
s

{1}

In [30]:
ss

{1, 2, 4, 10}

In [36]:
# this method shows only what is NOT THERE in s1. Only what is Unique to s1

s.difference(s1)

{1, 10}

In [44]:
sn = {2,3,4,5,6,10,11}
sn

{2, 3, 4, 5, 6, 10, 11}

In [45]:
s1

{3, 4, 5, 6, 7}

In [64]:
sn.difference_update(s1)
sn

{2, 10, 11}

In [58]:
sq = {2,3,4,5,6,10,11}
sq

{2, 3, 4, 5, 6, 10, 11}

In [59]:
sz = {3,4,5,6,7}
sz

{3, 4, 5, 6, 7}

In [61]:
sq.difference(sz)

{2, 10, 11}

In [71]:
sq

{2, 3, 4, 5, 6, 10, 11}

In [73]:
# Discard method discards the object that is there in the set. If it's not there, then it won't raise an error

sq.discard(11)
sq

{2, 3, 4, 5, 6, 10}

In [74]:
sq.discard(20)
sq

{2, 3, 4, 5, 6, 10}

In [76]:
# Remove method will do the same thing but IT WILL RAISE AN ERROR If IT'S NOT THERE IN THE SET

sq.remove(3)
sq

{2, 4, 5, 6, 10}

In [77]:
sq.remove(20)
sq

KeyError: 20

In [78]:
sq

{2, 4, 5, 6, 10}

In [79]:
sn

{2, 10, 11}

In [83]:
# Itersection gives what is COMMON for both the sets

sq.intersection(sn)

{2, 10}

In [84]:
sq.intersection_update(sn)

In [85]:
sq

{2, 10}

In [86]:
# Isdisjoint gives out Boolean value and returns True if it has not connection between sets

a = {1,2,3}
b = {3,4,5}
c = {7,8,5}

a.isdisjoint(b)

False

In [87]:
a.isdisjoint(c)

True

In [88]:
b.isdisjoint(c)

False

In [89]:
# Subset - If One set is Subset of another set

a = {1,2,3}
b = {1,2,3,4,5}

a.issubset(b)

True

In [90]:
b.issubset(a)

False

In [91]:
# Superset - If One set is Superset of another set

a.issuperset(b)

False

In [92]:
b.issuperset(a)

True

In [93]:
# Union - All elements in both sets

a = {1,2,3,10}
b = {1,2,3,4,5}

a.union(b)

{1, 2, 3, 4, 5, 10}

In [94]:
b

{1, 2, 3, 4, 5}

In [95]:
b.union(a)

{1, 2, 3, 4, 5, 10}

In [96]:
b

{1, 2, 3, 4, 5}

In [98]:
# Update - Will update the set by taking all values from the other set

a = {1,2,3,10}
b = {1,2,3,4,5}

a.update(b)
a

{1, 2, 3, 4, 5, 10}