Map Function - Built in key word

In [317]:
# shife + tab shows you in built function requirement and details

# map(func, *iterables) --> map object

# It shows map needs a function and some thing to iterate

# Let's define a function that prints even numbers out of a list

def even(nums):
    for char in nums:
        if char % 2 == 0:
            print (char)
        
            
even([2,3,4,5,6])

2
4
6

MAP

In [183]:
# Let us use the inbuilt function Map

all_nums = [2,3,4,5,6]

def even(nums):
    if nums % 2 == 0:
        return nums
    else:
        return "ODD"

In [185]:
# It maps through ALL the subjects in the list

list(map(even, all_nums))

[2, 'ODD', 4, 'ODD', 6]

In [186]:
# Use First Characters of every word which is Odd and Use The Original Name if it's Even

def name_list(name_of_models):
    
    for index ,name in enumerate(name_of_models):

# What it does? - Enumerate means it segregate the names and allot INDEX NUMBERS against each name starting from 0. 
# They names against the even index number alloted gets printed (as required by the function) and odd numbers gets a 'Odd'

        if index % 2 == 0:
            print (name)
        else:
            print ('Odd')


name_list(['Jacklyne', 'Mallikaa', 'Karisma', 'Karina', 'Katrina'])

Jacklyne
Odd
Karisma
Odd
Katrina

In [2]:
def name_list(name_of_models):
    
# The lENGTH of the name_of_models gets calculated and if the length of the name is EVEN the name is printed.
# If The Length of name is ODD the INDEX [1] gets printed
    
    if len(name_of_models) % 2 == 0:
        return (name_of_models)
    else:
        return (name_of_models[0:3])

In [7]:
# It returns the name as the length of the name is Even

name_list('Katrinaa')

'Katrinaa'

In [8]:
# It returns the first three words as the Length of the name is Odd

name_list('Karinaa')

'Kar'

In [189]:
names = ['Jacklyne', 'Mallikaa', 'Karisma', 'Karina', 'Katrina']

In [181]:
# With Mapping, the whole List - 'names', will be mapped and if the length is EVEN, it will print the names.

# If it is ODD, it will print First Three Words in the name

list(map(name_list, names))

['Jacklyne', 'Mallikaa', 'Kar', 'Karina', 'Kat']

FILTER FUNCTION - Built in Key Word

In [245]:
def even(nums):

    for char in nums:
        if char % 2 == 0:
            print (char)
        else:
            print ('Nope')
 

even([2,3,4,5,6])

2
Nope
4
Nope
6

In [246]:
all_list = [2,3,4,5,6]

In [247]:
def even(nums):

# Filter Function - It filters through the list and returns only what is needed. Unlike MAP.
    if nums % 2 == 0:
        return nums

In [248]:
# It gives out only the Even numbers from the List

list(filter(even, all_list))

[2, 4, 6]

In [ ]:
# Filter using for loop

for char in filter(even, all_list):
        if char % 2 == 0:
            print (char)
        else:
            print ('Nope')

Lamda

It is a short code generally used for 1 time. It cuts short a big code into small

In [27]:
lambda nums: nums % 2 == 0

In [174]:
even = [2,3,4,5,6]

In [29]:
list(filter(lambda nums: nums % 2 == 0, even))

[2, 4, 6]

In [30]:
list(map(lambda nums: nums % 2 == 0, even))

[True, False, True, False, True]

In [35]:
lambda name_of_models: len(name_of_models) % 2 == 0

In [36]:
names = ['Jacklyne', 'Mallikaa', 'Karisma', 'Karina', 'Katrina']

In [37]:
list(map(lambda name_of_models: len(name_of_models) % 2 == 0, names))

[True, True, False, True, False]

In [38]:
list(filter(lambda name_of_models: len(name_of_models) % 2 == 0, names))

['Jacklyne', 'Mallikaa', 'Karina']

In [43]:
list(map(lambda words: words[0:3],names))

['Jac', 'Mal', 'Kar', 'Kar', 'Kat']

In [330]:
def all_together(words):
    for index, char  in enumerate(words): 
        print (index, char)

In [331]:
all_together('Jacklyne')

0 J
1 a
2 c
3 k
4 l
5 y
6 n
7 e

In [334]:
all_together(['Jacklyne', 'Andy', 'Joana','Sweety'])

0 Jacklyne
1 Andy
2 Joana
3 Sweety

In [371]:
models = ['Jacklyne', 'Mallikaa', 'Karisma', 'Karina', 'Katrina']

In [374]:
# Normal Function

def names(models):
    for ch in models:
        if len(models) %2 ==0:
            return models
        else:
            return "Nope"

In [378]:
names('Jacklyne') # Length is Even

'Jacklyne'

In [379]:
names('Jacklynne') # Length is Odd

'Nope'

In [388]:
# With Map function using Normal Function

list(map(names, models))

['Jacklyne', 'Mallikaa', None, 'Karina', None]

In [389]:
# Normal Function

def names(models):
    for ch in models:
        if len(models) %2 ==0:
            return models

In [390]:
# With Filter Function using Normal Function

list(filter(names, models))

['Jacklyne', 'Mallikaa', 'Karina']

In [393]:
# Lambda Function using normal function

#def names(models):
#    for ch in models:
#        if len(models) %2 ==0:
#            return models


list(map(lambda models:len(models) %2 ==0,models))

[True, True, False, True, False]

In [394]:
list(filter(lambda models:len(models) % 2 == 0, models))

['Jacklyne', 'Mallikaa', 'Karina']

In [171]:
even = lambda nums : nums ** 4

In [172]:
even (6)

1296

In [176]:
even = [2,3,4,5,6]

In [177]:
list(map(lambda nums: nums ** 4, even))

[16, 81, 256, 625, 1296]

In [396]:
def all_together(words): print(words[::-1])

In [397]:
all_together('Jacklyne')

enylkcaJ

In [413]:
# Grab the First letters of a Srting using Lamda

models = ['Jacklyne', 'Mallikaa', 'Karisma', 'Karina', 'Katrina']

In [414]:
list(map(lambda letter: letter[0], models))

['J', 'M', 'K', 'K', 'K']

In [416]:
list(filter(lambda letter: len(letter) % 2 == 0, models))

['Jacklyne', 'Mallikaa', 'Karina']